<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <div class="logo">

                </div>
                <button class="sidebarButton" type="button" onclick="location.href='/portfolio'">Portfolio</button>
                <button class="sidebarButton" type="button" onclick="location.href='/explore'">Explore</button>
                <button class="sidebarButton" type="button" onclick="location.href='/settings'">Settings</button>
                <div class="footer"></div>
            </div>
            <div class="content">
                <h1><%= title %></h1>
                <p>Welcome to <%= title %></p>
            </div>
        </div>
    </body>
</html>
