<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/landing.css' />
    </head>
    <body>
        <div class="landing">
            <div class="topbar">
                <div class="landingLogo">
                    <button class="logoButton" type="button" onclick="location.href='/'"><%= title %></button>
                </div>
                <button class="topbarButton" type="button" onclick="location.href='/about'">About</button>
                <button class="topbarButton" type="button" onclick="location.href='/solutions'">Solutions</button>
                <button class="topbarButton" type="button" onclick="location.href='/portfolio'">Something</button>
                <div class="footer"></div>
                <button class="topbarButton" type="button" onclick="location.href='/login'">Log in</button>
            </div>
            <div class="landingContent">
                <div class="hero">
                    <h1><span id="heroInvest">Invest,</span> <span id="heroGreener">Greener.</span></h1>
                    <p>Make ethically informed decisions with your money</p>
                </div>
            </div>
        </div>
    </body>
</html>
