<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel='stylesheet' href='/stylesheets/landing.css' />
    </head>
    <body>
        <div class="login">
            <div class="loginContent">

            </div>
            <div class="loginForm">
                <h1>Welcome back</h1>
                <p>Sign in to your account</p>
                <form action="/login" method="POST">
                    <h3 class="loginFormTitle">Username</h3>
                    <input class="loginButton" type="text" id="username" name="username" placeholder="Enter your Username" required>
                    <h3 class="loginFormTitle">Password</h3>
                    <input class="loginButton" type="password" id="password" name="password" placeholder="Enter your Password" required>
                    <button class="loginButton" type="submit">Submit</button>
                    <p style="font-size: 12px; text-align: center">If it's your first time, <span><button id="link" onclick="location.href='/signup'">sign up here</button></span></p>
                </form>
            </div>
        </div>
    </body>
</html>
