<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        <link rel='stylesheet' href='/stylesheets/app.css' />
        <script src="/javascripts/script.js"></script>
    </head>
    <body>
        <div class="app">
            <div class="sidebar">
                <div class="appLogo">

                </div>
                <button class="sidebarButton" id="name" type="button" onclick="location.href='/profile'">Name</button>
                <button class="sidebarButton" type="button" onclick="location.href='/portfolio'">Portfolio</button>
                <button class="sidebarButton" type="button" onclick="location.href='/explore'">Explore</button>
                <button class="sidebarButton" type="button" onclick="location.href='/settings'">Settings</button>
                <div class="footer"></div>
            </div>
            <div class="appContent">
                <h1>Portfolio</h1>
                <p>Welcome to your Portfolio</p>
                <p>current Investments:</p>
            </div>
            <div class="portfolioContent">
                <p>Company name</p>
                <p>Amount Invested</p>
                <p>Return On Investment</p>
                </p>Variance</p>
            </div>
        </div>
        <script>
            getCookie().then(result =>{
                getUser(result)
            })
        </script>
    </body>
</html>
