<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        <link rel='stylesheet' href='/stylesheets/app.css' />
        <script src="/javascripts/script.js"></script>
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BG4KLC43YK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BG4KLC43YK');
    </script>
    <body>
        <div class="app">
            <div class="sidebar">
                <div class="appLogo">

                </div>
                <button class="sidebarButton" id="name" type="button" onclick="location.href='/profile'">Name</button>
                <button class="sidebarButton" type="button" onclick="location.href='/portfolio'">Portfolio</button>
                <button class="sidebarButton" type="button" onclick="location.href='/explore'">Explore</button>
                <button class="sidebarButton" type="button" onclick="location.href='/settings'">Settings</button>
                <div class="footer"></div>
            </div>
            <div class="portfolioContent">
                <h1 id="portfolioTitle">Overview</h1>
                <div id="funds">
                    <div>
                        <p>Portfolio Value</p>
                        <p id="portfolioValue">$0.00</p>
                    </div>
                    <div>
                        <p>Available Funds</p>
                        <p id="availableFunds"></p>
                    </div>
                </div>
                <h1 id="portfolioGridTitle">Your Investments:</h1>
                <div id="portfolioGrid"></div>
            </div>

        </div>
        <script>
            getCookie().then(result =>{
                getUser(result).then(response => {
                    document.getElementById('availableFunds').innerText = "$" + response.money
                    populatePortfolio(response.investments)
                })
            })
        </script>
    </body>
</html>
