<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        <link rel='stylesheet' href='/stylesheets/app.css' />
        <script src="/javascripts/script.js"></script>
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BG4KLC43YK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BG4KLC43YK');
    </script>
    <body>
        <div class="app">
            <div class="sidebar">
                <div class="appLogo">

                </div>
                <button class="sidebarButton" id="name" type="button" onclick="location.href='/profile'"></button>
                <button class="sidebarButton" type="button" onclick="location.href='/portfolio'">Portfolio</button>
                <button class="sidebarButton" type="button" onclick="location.href='/explore'">Explore</button>
                <button class="sidebarButton" type="button" onclick="location.href='/settings'">Settings</button>
                <div class="footer"></div>
            </div>
            <div class="appContent">
                <h1 id="accountTitle">Account</h1>
                <h3 id="accountID">Account Id:</h3>
                <div style="display: flex">
                    <img id="qrcode" />
                    <div id="qrcontent">
                        <h2>Share this qr code to others to receive money transfers</h2>
                        <h2 id="qrlink" onclick="navigator.clipboard.writeText(url)">Or click here to copy the link</h2>
                    </div>
                </div>
            </div>
        </div>
        <script>
            let url = undefined
            getCookie().then( async result =>{
                getUser(result).then(response => {
                    document.getElementById('accountID').innerText = "Account Id: " + response.id;
                })
                await fetch(`/qrcode/${result}`,{
                    method:'GET',
                    headers:{
                        'Authorization':`${window.location.href}`
                    }
                }).then(response => response.json()).then(
                    data => {
                        document.getElementById('qrcode').src = data.qrCodeUrl;
                        url = data.shareURL
                    })
            })
        </script>
    </body>
</html>
