html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app{
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar{
  flex-grow: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  background-color: #065388;
}

.appLogo{
  flex-grow: 4;
  text-align: center;
}

.sidebarButton{
  cursor: pointer;
  flex-grow: 0;
  width: 100%;
  padding: 20px 0 20px 30px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.9);
  text-align: left;
  transition: flex-grow 0.3s ease-in-out;
}

.sidebarButton:hover{
  flex-grow: 1;
  background-color: rgba(0,0,0,0.36);
  transition: background-color 0.2s ease-in-out, flex-grow 0.3s ease-in-out;
}

.footer{
  flex-grow: 7;
}

.appContent{
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 85vw;
  background-color: #114462;
  color: rgba(255,255,255,0.9);
}

.portfolioContent{
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 85vw;
  flex-grow: 7;
  background-color: #114462;
  color: rgba(255,255,255,0.9);
  display:grid;
  grid-template-columns: repeat(4,1fr);
}

.exploreContent{
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 85vw;
  flex-grow: 7;
  background-color: #114462;
  color: rgba(255,255,255,0.9);
}

#exploreTitle{
  margin: 60px 60px 0 60px;
}

#exploreSearch{
  grid-column: span 4;
  margin: 20px 60px 40px 60px;
}

.exploreCards{
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.companyCards{
  margin: 20px;
  padding: 20px 20px 5px 15px;
  background-color: rgba(6,83,136,0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.companyName{
  font-size: 10px;
  bottom: 0;
}